
.bundle
bundler/
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
doc/*
*.swp
*~
.DS_Store
#*#
.autotest
rspec.html
public/uploads/*
.sass-cache/*
.project
.idea/*
.rvmrc
spec/report/*
sauce_connect.log*
.vagrant/

